body {
    display: grid;
    grid-template-rows: repeat(3, auto);
    text-align: center;
}

#back_arrow:hover {
    border: 2px solid blue;
    border-radius: 50px;
}

h3 {
    font-size: xx-large;
}

div {
    display: grid;
    grid-template-columns: repeat(2,auto);
}

#old_password, #new_password {
    width: 50vw;
    position: relative;
    left: 25%;
    font-size: larger;
    top: -11px;
}

#old_passicon, #new_passicon {
    width: 30px;
    height: 30px;
    position: relative;
    top: -10px;
}

#submit {
    position: relative;
    max-width: 100px;
    left: 43vw;
    font-size: larger;
}

