h3 {
    text-align: center;
}

form {
    display: grid;
    grid-template-rows: repeat(2, auto);
    row-gap: 2vh;
    justify-content: center;
}

#submit {
    width: 5vw;
    justify-self: center;
}

#err_msg {
    display: none;
    text-align: center;
    color: red;
}

#succ_msg {
    display: none;
    text-align: center;
}

#reset_pass {
    text-align: center;
}