body {
    display: grid;
    grid-template-rows: repeat(2, auto);
    position: relative;
    left: 25vw;
    top: 15vh;
    overflow: hidden;
}

#back_arrow {
    margin-left: -25vw;
    margin-top: -10vh;
}

#back_arrow:hover {
   border: 2px solid blue;
   border-radius: 50px;
}

form {
    display: grid;
    grid-template-rows: repeat(2, auto);
    margin-top: 30px;
    gap: 20px;

}

input {
    width: 20vw;
}

#submit {
    position: relative;
    left: 10vw;
}

#img { 
    width: 50vw;
}

